<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <!-- <link href= "static/styles/style.css" rel= "stylesheet" type= 'text/css'> -->
        <link href= "static/styles/style.css" rel= "stylesheet">
        <title>Dashboard Wattsim</title>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>
    <body onload="refresh_time()">
        <!-- <h1 class = "titre">Dashboard pour analyse des annonces</h1> -->
        <h1 class = "Titre_Simplon">Wattsim</button></h1>
        <h4>Tableau de bord : mesures de stations élèves</h4>
        <h4>Moyenne de la classe : solar = {{solar}} wind = {{wind}} hydro = {{hydro}}</h4>
    </body>
    <body>
        <div class="container graph_1">
            <div class="row">
                <div class="col-xs-3">
                    <form action="" method="post">
                        <div class="container">
                          <label for="classe_name"><b>Nom de la classe</b></label>
                          <input type="text" placeholder="Enter Username" name="classe_name" required>                              
                          <button type="submit">Ok</button>
                        </div>
                    </form>
                    <label> Choix type de Graphique</label>
                    <select class="form-control" id ='first_cat'>
                        {% for user in list_users %}
                            <option value={{user}}>{{user}}</option>
                        {% endfor %}
                        <option value=classe>Classe</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="chart" id="bargraph">
                        <script>
                            var graphs = {{plot | safe}};
                            Plotly.plot('bargraph',graphs,{});
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plots.js') }}"></script>
    </body>
</html>