.Titre_Simplon {
    color: cornflowerblue;
}

h4, .Titre_Simplon {
    text-align: center;
}
/* .titre {
    color: cornflowerblue;
} */
.graph_1 {
    margin-left: 0px;
    border: 3px solid cornflowerblue;
}
/* .graph_2 {
    margin-right: 600px;
    border: 3px solid cornflowerblue; */
} */
/* h1 {
    color: greenyellow;
}